<?xml version='1.0' encoding='utf-8'?>
<widget id="com.leomoreira.dicasdevideos" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DicasDeVideos</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="android-minSdkVersion" value="24" />
    </platform>

</widget>
